$fundo-site: #FFF;
$cor-titulo: #000;
$cor-subtitulo: #A1A1A1;
$font-titulo: oswaldregular;
$font-subtitulo: nixieregular;

body{
	background: $fundo-site;
}

h1{
	color: $cor-titulo;
	font-family: $font-titulo;
}

h4{
	color: $cor-subtitulo;
	font-family: $font-subtitulo;
}

.hg-screen{

}

.ContentOne{
	padding: 0px;

	& .camisa{
		background: red;
	}
}



.bg-ContentSecond{
	background-color: #D3D3D3;
}

.ContentSecond{
	height: 600px;
}

