@import 'fonts';

$fundo-site: #FFF;
$cor-titulo: #000;
$cor-subtitulo: #A1A1A1;
$font-titulo: oswaldregular;
$font-subtitulo: nixieregular;
$font-text: arsenalregular;

body{
	background: $fundo-site;
}

h1{
	color: $cor-titulo;
	font-family: $font-titulo;
}

h2{
	color: $cor-titulo;
	font-family: $font-titulo;
}

h4{
	color: $cor-subtitulo;
	font-family: $font-subtitulo;
}

p{
	color: $cor-subtitulo;
	font-family: $font-text;
    font-size: 15px;		
}

p strong{
	color: #000;
}

.b-right{
	border-right: 2px #FFF solid;
}

.hg-screen{

}

.fl-left{
	float: left!important;
}

.fl-right{
	float: right!important;
}

.fl-right p{
	float: right!important;
}

.txt-left{
	text-align: left!important;
}

.txt-right{
	text-align: right!important;
}

.content-one{
	padding: 0px;

	.camisa{
		img{
			display: block;
			margin: 10px auto;
		}
	}

	.especificacao-mobile{
		display: none;
	}
}

h4.sub-title{
	font-size: 17px;
	font-family: $font-text;	
	text-align: center;
}

.bg-content-two{
	background-color: #f0f0f0;
}

.bg-content-four{
	background-color: #f0f0f0;
}

.content-two{
    padding: 100px 0px;
}

.content-third{
    padding: 100px 0px;
}

.content-four{
    padding: 100px 0px;
}

.content-five{
    padding: 100px 0px;
}

.content-third h4{
	margin-bottom: 100px;
}

.content-third p {
	width: 55%;
}

.content-third p:last-child{
	margin-bottom: 0px;
}

.content-third img{
	border-radius: 5px;
	width: 100%;
}

.hg-medida{
	margin-bottom: 50px;
}

.hr-medida{
	border-top: 1px solid #f0f0f0;	
}



.nav-hover{
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 99999;
}

.nav-hover > #menu-nav{
	display: block;
	transition: all .5s;
	top: -60px;
}

.nav-hover:hover > #menu-nav{
	transition: all .5s;
	top: 0;
}

.click-menu{
	cursor: pointer;
}

@media (max-width: 767px){
	.nav-hover > #menu-nav{
		display: block;
		top: 0px;
	}
}

@media (max-width: 991px){
	h1{
		text-align: center;
	}
	
	.no-especificacao{
		display: none!important;
	}

	.especificacao-mobile{
		display: block!important;
	}

	.content-two .col-md-6:last-child{
		margin-top: 100px;
	}

	.content-third h2{
		text-align: center;
	}

	.content-third p {
		width: auto;
	}

	.fl-right{
		float: none!important;
	}

	.fl-right p{
		float: none!important;
	}

	.txt-right {
	    text-align: inherit!important;
	}	

	.content-one{
		margin: 50px 0px;
	}
};