@font-face {
  font-family: 'oswaldlight';
  src: url("../fonts/oswald-l-webfont.eot");
  src: url("../fonts/oswald-l-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-l-webfont.woff2") format("woff2"), url("../fonts/oswald-l-webfont.woff") format("woff"), url("../fonts/oswald-l-webfont.ttf") format("ttf"), url("../fonts/oswald-l-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldregular';
  src: url("../fonts/oswald-r-webfont.eot");
  src: url("../fonts/oswald-r-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-r-webfont.woff2") format("woff2"), url("../fonts/oswald-r-webfont.woff") format("woff"), url("../fonts/oswald-r-webfont.ttf") format("ttf"), url("../fonts/oswald-r-webfont.svg#oswaldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nixieregular';
  src: url("../fonts/nixieone-r-webfont.eot");
  src: url("../fonts/nixieone-r-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nixieone-r-webfont.woff2") format("woff2"), url("../fonts/nixieone-r-webfont.woff") format("woff"), url("../fonts/nixieone-r-webfont.ttf") format("ttf"), url("../fonts/nixieone-r-webfont.svg#nixie_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldbold';
  src: url("../fonts/oswald-b-webfont.eot");
  src: url("../fonts/oswald-b-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-b-webfont.woff2") format("woff2"), url("../fonts/oswald-b-webfont.woff") format("woff"), url("../fonts/oswald-b-webfont.ttf") format("ttf"), url("../fonts/oswald-b-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'arsenalbold';
  src: url("../fonts/arsenal-b.eot");
  src: url("../fonts/arsenal-b.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal-b.otf") format("otf"), url("../fonts/arsenal-b.woff2") format("woff2"), url("../fonts/arsenal-b.woff") format("woff"), url("../fonts/arsenal-b.ttf") format("ttf"), url("../fonts/arsenal-b.svg#nixie_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'arsenalbolditalic';
  src: url("../fonts/arsenal-bi.eot");
  src: url("../fonts/arsenal-bi.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal-bi.otf") format("otf"), url("../fonts/arsenal-bi.woff2") format("woff2"), url("../fonts/arsenal-bi.woff") format("woff"), url("../fonts/arsenal-bi.ttf") format("ttf"), url("../fonts/arsenal-bi.svg#nixie_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'arsenalitalic';
  src: url("../fonts/arsenal-i.eot");
  src: url("../fonts/arsenal-i.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal-i.otf") format("otf"), url("../fonts/arsenal-i.woff2") format("woff2"), url("../fonts/arsenal-i.woff") format("woff"), url("../fonts/arsenal-i.ttf") format("ttf"), url("../fonts/arsenal-i.svg#nixie_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'arsenalregular';
  src: url("../fonts/arsenal-r.eot");
  src: url("../fonts/arsenal-i.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal-r.otf") format("otf"), url("../fonts/arsenal-r.woff2") format("woff2"), url("../fonts/arsenal-r.woff") format("woff"), url("../fonts/arsenal-r.ttf") format("ttf"), url("../fonts/arsenal-r.svg#nixie_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }
